.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

.listView {
  position: relative;
  display: block;
}

.messageBox {
  max-width: 500px;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  border: 1px solid #282c34;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px #888888;
}

.button {
  background-color: transparent;
  border: 1px solid #f1f2f2;
  padding: 7px 7px;
  border-radius: 7px;
  color: #000000;
}

.button:hover {
  cursor: pointer;
  border-color: teal;
  color: teal; /** add company color **/ 
}

.button img.sort {
  height: 15px;
  width: 25px;
}

.button img.sort.asc {
  transform: rotate(0deg);
}

.button img.sort.desc {
  transform: rotate(180deg);
}