/** variables **/
:root {
  --blue-company: #4374ee;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.header {
  position: fixed;
  background-color: var(--blue-company);
  border-bottom: 1px solid var(--blue-company);
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 0px 10px;
  box-shadow: 0 8px 6px -6px black;
}

.header.sticky {
    position: sticky;
    top: 0;
    z-index: 10; 
}

.listView {
  position: relative;
  display: block;
}

.messageBox {
  min-width: 300px;
  width: 100%;
  align-items: center;
}

.messageBox .container {
  display: flex;
  align-items: baseline;
}

.messageBox .icon {
  width: 50px;
}

.messageBox .iconProfile {
  width: 25px;
  height: 25px;
  border: 1px solid #888888;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
}

.messageBox .chat {
  width: calc(100% - 25px);
  height: 20px;
  border: 1px solid #282c34;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px #888888;
  display: flex;
}

.messageBox .chat .delete {
  float: right;
  cursor: pointer;
  width: 20px;
}


.messageBox .content {
  color: #888888;
  width: 100%;
}

.messageBox .date {
  font-size: 11px;
  color: #888888;
  text-align: right;
}

.toolbar {
  height: 50px;
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: flex-end;
}

.toolbar .button {
  background-color: #f1f2f2;
  border: 1px solid #f1f2f2;
  padding: 7px 7px;
  border-radius: 7px;
  color: #000000;
}

.toolbar .button:hover {
  cursor: pointer;
  border-color: teal;
  color: teal; /** add company color **/ 
}

.toolbar .button img.sort {
  width: 20px;
}

.messageBox.hide {
  display:none;
}

.emptyMessages {
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: 888888;
  font-style: italic;
  padding: 10px;
}